@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSans";
  src: url("../assets/fonts/Black.ttf");
  font-style: normal;
}

:root {
  font-family: "ProductSans";
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
