@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    /* Main brand colors */
    --primary-color: #D2FFAA;
    --secondary-color: #638942;
    --bg-contrast: #032;
    --white: #F5FFEB;
    --interact-object-color: #D17A22;

    /* static asset */
    --hero-right-svg: url("../assets/hero-right-image.svg");
    --login-image-svg: url("../assets/login-page-image.svg");
    --logo-isolated: url("../assets/logo-isolated.png")
}

body {
  background: #F5FFEB;
}